# 最初にすべての階層のファイルを無視し、階層は必要なだけ追加する
# all ignore -----------------------------------------------------------------------
/*
/.**

# .gitignoreは上から解釈されるので、管理対象のファイルをホワイトリストとして追記
# not ignore -----------------------------------------------------------------------
!/.bin/
!/doc/

!/.config/*
!/.bash/*
!/.tmux/*
!/.vim/*
!/.zsh/*

!/README.md
!/LICENSE
!.gitignore
!.gitkeep