# 最初にすべての階層のファイルを無視し、階層は必要なだけ追加する
# all ignore -----------------------------------------------------------------------
/*
/.**
.DS_Store



# .gitignoreは上から解釈されるので、管理対象のファイルをホワイトリストとして追記
# not ignore -----------------------------------------------------------------------
!/.bin/
!/doc/

!/.bash/
!/.bash/**

!/.config/
!/.config/**
/.config/.bashrce
/.config/**.DS_Store
/.config/**/**.DS_Store
/.config/karabiner/automatic_backups/**
!/.tmux/
!/.tmux/**
!/.vim/
!/.vim/**
!/.zsh/
!/.zsh/**

!/README.md
!/LICENSE
!.gitignore
!.gitkeep