"-------------------------------------------------------------------------------
" ideaVim Settings
"-------------------------------------------------------------------------------

"選択範囲のインデントを連続して変更
vnoremap < <gv
vnoremap > >gv